<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>Amphenol</span>
    <span class="example-spacer"></span>
    @if (!isLoggedIn) {
    <a  [routerLink]="['/login']" mat-button class="example-icon favorite-icon "   >
      <!-- <mat-icon>login</mat-icon> -->
      Login
    </a>
    <a  [routerLink]="['/signup']" mat-button class="example-icon" >
      <!-- <mat-icon>share</mat-icon> -->
      Register
    </a>
  }
  @else if(isLoggedIn && user){
    <a routerLink="/admin/profile" mat-button class="example-icon" >{{user.username}}</a>

    <a (click)="logout()" mat-button class="example-icon" >Logout</a>
  }
  </mat-toolbar>
  