<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20" style="margin-top: 20px;">
            <!-- Center the content horizontally -->
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <mat-card>
                    <img src="../../../assets/images/a.png" class="img-fluid mx-auto" style="width: 50px;"
                        alt="Your Image">
                    <h1 class="text-center">Login Here.</h1>
                    <!-- {{user | json }} -->
                    <form (ngSubmit)="login()" class="mr10 ml10">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input 
                            [(ngModel)]="user.username"
                            name="username"
                            matInput placeholder="username" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Username Must be Unique !!</mat-hint>
                            <mat-error>please Enter UserName</mat-error>
                          </mat-form-field>
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input 
                            [(ngModel)]="user.password"
                            name="password"
                            matInput [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error>Enter the Password</mat-error>
                          </mat-form-field>
                          <div class="container mb10">
                          <button mat-raised-button color="primary" type="submit">Login</button>
                          <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>